/*variaveis*/
:root {
    --primary-color:#0A1128;  
    --white-color:#FCFCFC;
    --light-gray-color:#EEEEEE;
    --secondary-color: #dc143c;
    --placeholder-color: #0a112862;
    --back-to-top-color: #575555;
    --green-whatsapp-color: #34af23;
    --pink-instagram-color: #C13584;
    --yelow-email-color: #fbbc04;
    --blue-facebook-color: #3B5998;
    --gap:3rem;
  }

  /*elementos*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
}

h2 {
    font-size: 3.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}

h3 {
    font-size: 5.5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

table {
    min-width: 360px;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 1rem;
}

table td, table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--light-gray-color);
}

tfoot td {
    background: var(--light-gray-color);
}

table th {
    background: var(--light-gray-color);  
}

/*classes*/
.main-bg {
    background-image: url('img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing {
    height: 64px;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}

/*menu*/
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}
/*container-ink*/
.container-ink {
    background: #0A1128;
    display: flex;
    justify-content: space-around;
}
.container-ink span a{
    
    color: var(--light-gray-color);
}
.menu .container-ink p {
    color: var(--light-gray-color);
    font-size: 1.3rem;
    margin-bottom: 0;
 
}


.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}
.menu-content h1 a img {
    margin-top: 1rem;
    width: 100%;
   
}
.menu-content h1 {
    display: flex;
    
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after { 
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

/*style*/

.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2.4fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: -5rem;
}

.intro-img img {
    max-width: 100%;
    height: auto;
}

.local-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.local-content p {
    font-size: 3rem;
}

.link-banner {
    padding: 0 0;
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
   
}
.grid-one-content article {
  padding: 1rem;
}
.grid-one-content article:hover {
    border: 1px solid var(--light-gray-color);
    
}


.grid-main-heading{
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    /*counter-reset: grid-counter;*/
}

.grid h3 {
    font-size: 3rem ;
    position: relative;
    padding-bottom: 1rem;
    text-align: left;
}

.grid p {
    text-align: justify;
}

.grid h3:hover, .grid p:hover {
    cursor: default;
}

/*.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 6rem;
    font-style: italic;
    top: -2rem;
    left: -0.5rem;
    transform: rotate(5deg);
}*/

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-2%, 2%) scale(1.15) rotate(5deg);
}

.contact-form{
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-style: italic;
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 320px;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;    
    width: 100%;
    outline: none;
    border-radius: 2px;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 5px 0.5px var(--secondary-color);
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    border-radius: 5px;
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group button:active {
    background: var(--white-color);
    color: var(--primary-color);
    transform:scale(1.03);
    transition: all 150ms ease-in-out;
}

.form-group ::placeholder {
    color: var(--placeholder-color);
}

.footer {
    text-align: center;
    font-size: 1.6rem;
}

.footer a {
    color: var(--primary-color);
}

.heart {
    color: var(--secondary-color);
}

.footer p, a {
    margin:0;
    padding: 0 1rem;
}

.copyright {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.footer-content img {
    display: none;
    width: 43%;
}

.social-icons {
    padding: 1rem;
}

.social-icons a {
    color: var(--placeholder-color);
}

.button-facebook:hover {
    color: var(--blue-facebook-color)
}

.button-instagram:hover {
    color: var(--pink-instagram-color);
}

.button-whatsapp:hover {
    color: var(--green-whatsapp-color);
}
.button-email:hover {
    color: var(--yelow-email-color);
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    background: var(--white-color);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-93deg);
    border: 0.1rem solid var(--primary-color);
    box-shadow: -2px 1px 4px 0.1px var(--back-to-top-color);
    transition: all 300ms ease-in-out;
}

.back-to-top-none {
    opacity: 0.5;
}

.whatsapp-btn {
    position: fixed;
    bottom: 2rem;
    left: 3rem;
    background: var(--green-whatsapp-color);
    width: 4.5rem;
    height:4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--white-color);
    box-shadow: -1px 1px 4px 0.1px var(--back-to-top-color);
    cursor: pointer;
    transition: all 125ms ease-in-out;
}

.whatsapp-btn:hover {
    box-shadow: -1px 0.6px 7px 0.5px var(--back-to-top-color);
}

.back-to-top:hover {
    box-shadow: -2px 1px 6px 0.5px var(--back-to-top-color);
}

.back-to-top:active {
    transform: rotate(-93deg) scale(1.1);
}

.back-to-top::after {
    content: "➤";
   transition: margin-right 250ms;
}

.back-to-top:active::after {
    margin-right:-10px;
}

.logo-device {
    display: none;
}

@media (max-width: 800px) {
    .logo-device {
        display: flex;
        justify-content: center;
        
    }
    .logo-device img {
       height: 100%;
    }
    .container-ink {
        display: none;
    }
    .intro-content, .grid {
        grid-template-columns: 1fr;
    }

    .intro-text-content, .intro-img{
        padding-top: 4rem;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;   
    }

    .gallery-img img:hover {
        transform: scale(1.011)
    }

    .grid-one-content {
        display: block;
    }
    
    .menu {
        bottom: 0;
        text-align: center;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 1rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        border: 0.1rem solid var(--white-color);
    }
    
    .close-menu:checked~.menu {
        display: block;   
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;  
        content: '×'; 
    }

    .menu-spacing {
        display: none;
    }
    
    .footer-content{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        gap: var(--gap);
        counter-reset: grid-counter;
    }

    .footer-content .disable-for-media {
        display: none;
    }

    .button-facebook:touch-action {
        color: var(--blue-facebook-color);
    }

    .button-instagram:touch-action {
        color: var(--pink-instagram-color);
    }

    .button-whatsapp:touch-action {
        color: var(--green-whatsapp-color);
    }

    .footer-content img {
        max-width: 39%;
        margin-top: -21px;
        margin-bottom: -9px;
        opacity: 0.6;
    }
}


/*slide*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
  padding-top: 8.5rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
    width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

